@model ConferenceParticipantsRegistration.Database.ParticipantView 
    
@{
    ViewBag.Title = "Registration Page";
}

@*Реєстрація учасника на конференцію проходить за полями:
- ПІБ
- вік
- обласний центр
- eMail
- телефон
- пароль
Всі поля обов'язкові крім «телефон». Поле «обласний центр» - випадаючий перелік вже існуючих в Україні (можете вказати хоча б 5 для прикладу). Після натискання на кнопку відбувається відправлення та запам'ятовування даних на сервері, зберігання має працювати автономно, з використанням сервера БД(SQL Server).*@

<main>
    <h1>Conference Registration</h1>
    @using (Html.BeginForm("Register", "Registration", FormMethod.Post))
    {
        @Html.Label("Full Name:")
        @Html.TextBoxFor(x => x.FullName, htmlAttributes: new { required = "required" })

        @Html.Label("Age:")
        @Html.TextBoxFor(x => x.Age, htmlAttributes: new { type = "number", required = "required" })

        @*<label for="full_name">Full Name:</label>
            <input type="text" name="fullname" id="full_name" required><br>*@

        @*<label for="age">Age:</label>
            <input type="number" name="age" id="age" required><br>*@

        @Html.Label("Regional Center:")
        {
            var placeHolder = new SelectListItem[] { new SelectListItem { Disabled = true, Text = "Select your region..", Selected = true, Value = "" } };

            var selectList = placeHolder.Concat(new SelectList(Model.RegionalCenters));
            @Html.DropDownListFor(m => m.RegionalCenter, selectList, new { required = "required" })
        }

        @*<label for="regional_center">Regional Center:</label>
            <select name="regional_center" id="regional_center" required>
                <option value="" disabled selected>Select a Regional Center</option>
                <option value="Center1">Kyiv</option>
                <option value="Center2">Lviv</option>
                <option value="Center3">Ivano-Frankisvk</option>
                <option value="Center4">Harkiv</option>
                <option value="Center5">Zaporizhya</option>
            </select><br>*@

        @Html.Label("Email:")
        @Html.TextBoxFor(m => m.Email, htmlAttributes: new { type = "email", required = "required" })
        @*<label for="email">Email:</label>
            <input type="email" name="email" id="email" required><br>*@

        @Html.Label("Phone:")
        @Html.TextBoxFor(m => m.Phone, htmlAttributes: new { type = "tel" })

        @*<label for="phone">Phone:</label>
            <input type="tel" name="phone" id="phone"><br><br>*@

        @Html.Label("Password")
        @Html.TextBoxFor(m => m.Password, htmlAttributes: new { type = "password" })

        @*<label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br>*@

        <div class="validation-error-box">
            @Html.ValidationSummary()
        </div>

        <div class="center-button">
            <input type="submit" value="Register">
        </div>
    }
</main>