@model ConferenceParticipantsRegistration.Models.ParticipantsPage

<main>
    <h1>All Participants</h1>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Age</th>
                    <th>Regional Center</th>
                </tr>
            </thead>
            <tbody id="participants-table">
            </tbody>
        </table>
        <div class="table-navigation">
            <button class="btn-previous" id="btn-previous">Prev</button>
            <span class="page-info" id="page-info">Page @Model.Page of @Model.TotalPages</span>
            <button class="btn-next" id="btn-next">Next</button>
        </div>
    </div>
</main>

<script type="text/javascript">
    let page = @Model.Page;

    $("#participants-table").load(`LoadParticipants?page=${page}`);

    $("#btn-next").click(() => {
        if (page == @Model.TotalPages) return;

        $("#participants-table").load(`LoadParticipants?page=${++page}`);
        updatePageInfo(page);
    });

    $("#btn-previous").click(() => {
        if (page == 1) return;

        $("#participants-table").load(`LoadParticipants?page=${--page}`);
        updatePageInfo(page);
    });

    function updatePageInfo(newPage) {
        $("#page-info").text(`Page ${page} of @Model.TotalPages`);

        if (history.pushState) {
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + `?page=${page}`;
            window.history.pushState({ path: newurl }, '', newurl);
        }
    }
</script>